* {
    padding:0;
    margin:0;
}

#navbar {
    display:flex;
    justify-content:flex-end;
    background-color: rgb(228, 192, 192);
}


#navbar a {
    padding:12px;
    text-decoration: none;
    color:rgb(46, 42, 42);
    font-size:1.2em;

}


#navbar a:hover {
    background-color: brown;transition:  all 0.3s ease-in;
}

#maincontent {
    display: flex;
    gap:10px;
    flex-wrap: wrap;

}

#maincontent section {
    flex: 1 1 220px;
    padding:20px;
    background-color: brown;
    margin:20px;
}




section h3 {
    text-align:center;
    font-size: 2.1em;
    padding:20px;
    color: coral;
}





#main-area {
    display:flex;
    /* flex-wrap: wrap; */
    gap:10px;
    margin:20px;
}


#sidebar {
    width: 30%;
    background-color: crimson;
    padding:20px;
}


#menu {
    background-color:crimson;
    padding:20px;
    width:70%;
}



footer {
   
    text-align: center;
    margin-top: 169px;
    background-color: darkmagenta;
    padding:20px;

    
}
@media screen and (max-width:600px)
{
    #main-area {
        flex-wrap: wrap;
    }

    #sidebar {
        width:100%;
    }

    #menu {
        width:100%;
    }

    #navbar {
        flex-direction: column;
        text-align: center;
    }
}